@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This project is to practice <b>CRUD</b> Operations in .NET 6 with <b>Razor Pages.</b></p>
    <p>You could explore this project at <b>Categories</b> section or <a asp-page="/categories/index">here</a>.</p>
    <b>Topics covered in this project.</b>
    <div class="pull-left">
        <ul style="list-style-type:none">
            <li> <i class="bi bi-forward"></i> CRUD Operations</li>
            <li> <i class="bi bi-forward"></i> Routing</li>
            <li> <i class="bi bi-forward"></i> Validations</li>
            <li> <i class="bi bi-forward"></i> Partial views</li>
            <li> <i class="bi bi-forward"></i> Toster notificaion with CDN.</li>
        </ul>
    </div>
    <p>You can get source at <i class="bi bi-github"></i></p>
</div>
